settings.ini
core/data/multi.log
core/data/event.log
core/data/maps/nameplate.dds
changelog.txt
AVPoV-shots.lnk
AVPoV-videos.lnk
user.json

core/data/cache/

core/data/tables/*.disabled
core/data/scripts/*.disabled
core/data/maps/sub-*
core/data/maps/-.dds

core/data/tables/screencam*
core/data/models/marker.pof
core/data/maps/invisiblebta.dds

core/data/tables/aspov-adjustGunshipWeapons-sct.tbm_
core/data/music/PST_Sigil-arv.ogg
core/data/music/PST_Sigil-btl1.ogg
core/data/music/PST_Sigil-btl2.ogg
core/data/music/PST_Sigil-btl3.ogg

core/data/scripts/*.bak

core/data/missions/*.bak
core/data/missions/Backup.*
core/data/missions/torpedoes.fs2
core/data/missions/Z_*
core/data/missions/0_Outnumbered*
core/data/missions/0_Arena.fs2

*~
